In [35]:
!which python

/sw/centos/anaconda3/2019.10/bin/python

In [36]:
import json
import pandas as pd
import os
import numpy as np

In [145]:
dir_path = '../Dataset/ratebeer/small_500'
# Load train dataset
train_review = []
cnt = 0
file_path = os.path.join(dir_path, 'train_review_filtered.json')
with open(file_path) as f:
    for line in f:
        line_data = json.loads(line)
        user_id = line_data['user']
        item_id = line_data['item']
        rating = line_data['rating']
        review = line_data['review']
        train_review.append([item_id, user_id, rating, review])
        cnt += 1
        if cnt % 100000 == 0:
            print('{} lines loaded.'.format(cnt))
print('Finish loading train dataset, totally {} lines.'.format(len(train_review)))
# Load test dataset
test_review = []
cnt = 0
file_path = os.path.join(dir_path, 'test_review_filtered.json')
with open(file_path) as f:
    for line in f:
        line_data = json.loads(line)
        user_id = line_data['user']
        item_id = line_data['item']
        rating = line_data['rating']
        review = line_data['review']
        test_review.append([item_id, user_id, rating, review])
        cnt += 1
        if cnt % 10000 == 0:
            print('{} lines loaded.'.format(cnt))
print('Finish loading test dataset, totally {} lines.'.format(len(test_review)))

Finish loading train dataset, totally 17690 lines.
Finish loading test dataset, totally 2761 lines.

In [146]:
df_train_data = pd.DataFrame(train_review, columns=['item', 'user', 'rating', 'review'])
df_test_data = pd.DataFrame(test_review, columns=['item', 'user', 'rating', 'review'])

In [147]:
train_user_id_set = set(df_train_data['user'].unique())
train_item_id_set = set(df_train_data['item'].unique())

In [180]:
print("number of user on train set: {}".format(len(train_user_id_set)))
print("number of item on train set: {}".format(len(train_item_id_set)))

number of user on train set: 611
number of item on train set: 492

In [148]:
# Sentence2id and id2sentence
with open('../Dataset/ratebeer/small_500/train/sentence/sentence2id.json', 'r') as f:
    sent_to_id = json.load(f)
with open('../Dataset/ratebeer/small_500/train/sentence/id2sentence.json', 'r') as f:
    id_to_sent = json.load(f)

In [149]:
len(id_to_sent)

74954

In [151]:
# Sentence2id and id2sentence
with open('../Dataset/ratebeer/small_500/test/sentence/sentence2id.json', 'r') as f:
    testset_sent_to_id = json.load(f)
with open('../Dataset/ratebeer/small_500/test/sentence/id2sentence.json', 'r') as f:
    testset_id_to_sent = json.load(f)

# validset Sentence2id and id2sentence
with open('../Dataset/ratebeer/small_500/valid/sentence/sentence2id.json', 'r') as f:
    validset_sent_to_id = json.load(f)
with open('../Dataset/ratebeer/small_500/valid/sentence/id2sentence.json', 'r') as f:
    validset_id_to_sent = json.load(f)

In [152]:
testset_id_to_sent['0']

'bottle .'

In [153]:
len(testset_id_to_sent)

12327

In [154]:
validset_id_to_sent['0']

'bottle .'

In [155]:
len(validset_id_to_sent)

12327

In [156]:
# Feature2id and id2feature
with open('../Dataset/ratebeer/small_500/train/feature/feature2id.json', 'r') as f:
    feature_to_id = json.load(f)
with open('../Dataset/ratebeer/small_500/train/feature/id2feature.json', 'r') as f:
    id_to_feature = json.load(f)

In [157]:
# user2feature
with open('../Dataset/ratebeer/small_500/train/user/user2feature.json', 'r') as f:
    user_to_feature = json.load(f)

In [183]:
user_feature_cnt = []
for key,value in user_to_feature.items():
    user_feature_cnt.append(len(value))
print("Total number of user on TRAIN set: {}".format(len(user_feature_cnt)))
print("Mean number of feature per user on train set: {}".format(np.mean(user_feature_cnt)))
print("Max number of feature per user on train set: {}".format(np.max(user_feature_cnt)))
print("Min number of feature per user on train set: {}".format(np.min(user_feature_cnt)))

Total number of user on TRAIN set: 611
Mean number of feature per user on train set: 273.328968903437
Max number of feature per user on train set: 520
Min number of feature per user on train set: 34

In [158]:
# item2feature
with open('../Dataset/ratebeer/small_500/train/item/item2feature.json', 'r') as f:
    item_to_feature = json.load(f)

In [184]:
item_feature_cnt = []
for key,value in item_to_feature.items():
    item_feature_cnt.append(len(value))
print("Total number of item on TRAIN set: {}".format(len(item_feature_cnt)))
print("Mean number of feature per item on train set: {}".format(np.mean(item_feature_cnt)))
print("Max number of feature per item on train set: {}".format(np.max(item_feature_cnt)))
print("Min number of feature per item on train set: {}".format(np.min(item_feature_cnt)))

Total number of item on TRAIN set: 492
Mean number of feature per item on train set: 332.9207317073171
Max number of feature per item on train set: 537
Min number of feature per item on train set: 141

In [159]:
# sentence2feature
with open('../Dataset/ratebeer/small_500/train/sentence/sentence2feature.json', 'r') as f:
    sentence_to_feature = json.load(f)

In [185]:
sentence_feature_cnt = []
for key,value in sentence_to_feature.items():
    sentence_feature_cnt.append(len(value))
print("Total number of sentence on TRAIN set: {}".format(len(sentence_feature_cnt)))
print("Mean number of feature per sentence on train set: {}".format(np.mean(sentence_feature_cnt)))
print("Max number of feature per sentence on train set: {}".format(np.max(sentence_feature_cnt)))
print("Min number of feature per sentence on train set: {}".format(np.min(sentence_feature_cnt)))

Total number of sentence on TRAIN set: 74954
Mean number of feature per sentence on train set: 8.634309042879632
Max number of feature per sentence on train set: 49
Min number of feature per sentence on train set: 1

In [160]:
# useritem2sentenceids - TRAIN
with open('../Dataset/ratebeer/small_500/train/useritem2sentids.json', 'r') as f:
    useritem_to_sentids = json.load(f)

In [161]:
# useritem2sentids - TEST
with open('../Dataset/ratebeer/small_500/test/useritem2sentids_test.json', 'r') as f:
    testset_useritem_to_sentids = json.load(f)
print("Number of user in test set: {}".format(len(testset_useritem_to_sentids)))

Number of user in test set: 606

In [162]:
# useritem2sentids - VALID
with open('../Dataset/ratebeer/small_500/valid/useritem2sentids_test.json', 'r') as f:
    validset_useritem_to_sentids = json.load(f)
print("Number of user in valid set: {}".format(len(validset_useritem_to_sentids)))

Number of user in valid set: 606

In [163]:
empty_label = 0
candidate_sent_ids_cnt = []
for user_chunk in list(testset_useritem_to_sentids.items()):
    user_id_str = str(user_chunk[0])
    # print(user_id_str)
    user_item_chunks = list(user_chunk[1].items())
    for item_chunk in user_item_chunks:
        item_id_str = str(item_chunk[0])
        # print(item_id_str)
        # candidate_true_sent_ids = item_chunk[1]
        candidate_sent_ids = item_chunk[1][0]
        true_sent_ids = item_chunk[1][1]
        candidate_sent_ids_cnt.append(len(candidate_sent_ids))
        if len(true_sent_ids) == 0:
            # print(item_chunk)
            empty_label += 1
print("On TEST set:")
print("Number of reviews with empty true label sentences: {}".format(empty_label))
print("Max number of candidate sentence: {}".format(np.max(candidate_sent_ids_cnt)))
print("Min number of candidate sentence: {}".format(np.min(candidate_sent_ids_cnt)))
print("Mean number of candidate sentence: {}".format(np.mean(candidate_sent_ids_cnt)))

On TEST set:
Number of reviews with empty true label sentences: 0
Max number of candidate sentence: 804
Min number of candidate sentence: 90
Mean number of candidate sentence: 309.21115537848607

In [164]:
empty_label = 0
candidate_sent_ids_cnt = []
for user_chunk in list(validset_useritem_to_sentids.items()):
    user_id_str = str(user_chunk[0])
    # print(user_id_str)
    user_item_chunks = list(user_chunk[1].items())
    for item_chunk in user_item_chunks:
        item_id_str = str(item_chunk[0])
        # print(item_id_str)
        # candidate_true_sent_ids = item_chunk[1]
        candidate_sent_ids = item_chunk[1][0]
        true_sent_ids = item_chunk[1][1]
        candidate_sent_ids_cnt.append(len(candidate_sent_ids))
        if len(true_sent_ids) == 0:
            # print(item_chunk)
            empty_label += 1
print("On VALID set:")
print("Number of reviews with empty true label sentences: {}".format(empty_label))
print("Max number of candidate sentence: {}".format(np.max(candidate_sent_ids_cnt)))
print("Min number of candidate sentence: {}".format(np.min(candidate_sent_ids_cnt)))
print("Mean number of candidate sentence: {}".format(np.mean(candidate_sent_ids_cnt)))

On VALID set:
Number of reviews with empty true label sentences: 0
Max number of candidate sentence: 500
Min number of candidate sentence: 90
Mean number of candidate sentence: 306.6682361463238

# Combine Proxy Ids

In [165]:
test_review_proxy_results = []
with open('../Dataset/ratebeer/small_500/test/useritem2sentids_withproxy_multilines.json', 'w') as fw:
    for i in range(28):
        file_path = './result_small_500_test/{}.json'.format(i)
        # print(file_path)
        with open(file_path) as f:
            for line in f:
                line_data = json.loads(line)
                # print(line_data)
                user_id = str(line_data['user'])
                item_id = str(line_data['item'])
                candidate_ids = line_data["candidate_ids"]
                review_ids = line_data["review_ids"]
                proxy_ids = line_data["proxy_ids"]
                test_review_proxy_results.append([user_id, item_id, candidate_ids, review_ids, proxy_ids])
                json.dump(line_data, fw)
                fw.write('\n')
print("Number of reviews in test set: {}".format(len(test_review_proxy_results)))

Number of reviews in test set: 2761

In [167]:
valid_review_proxy_results = []
with open('../Dataset/ratebeer/small_500/valid/useritem2sentids_withproxy_multilines.json', 'w') as fw:
    for i in range(28):
        file_path = './result_small_500_valid/{}.json'.format(i)
        # print(file_path)
        with open(file_path) as f:
            for line in f:
                line_data = json.loads(line)
                # print(line_data)
                user_id = str(line_data['user'])
                item_id = str(line_data['item'])
                candidate_ids = line_data["candidate_ids"]
                review_ids = line_data["review_ids"]
                proxy_ids = line_data["proxy_ids"]
                valid_review_proxy_results.append([user_id, item_id, candidate_ids, review_ids, proxy_ids])
                json.dump(line_data, fw)
                fw.write('\n')
print("Number of reviews in valid set: {}".format(len(valid_review_proxy_results)))

Number of reviews in valid set: 2761

In [168]:
df_test_result = pd.DataFrame(test_review_proxy_results, columns=['user', 'item', 'cdd', 'review', 'proxy'])
df_valid_result = pd.DataFrame(valid_review_proxy_results, columns=['user', 'item', 'cdd', 'review', 'proxy'])

In [169]:
df_test_result

,user,item,cdd,review,proxy
0,2202,207,"[4670, 30, 17966, 67969, 56327, 74253, 17927, ...","[2855, 2856, 2854, 2857, 2858]","[17925, 17961, 74255, 17926, 6563, 61]"
1,1925,517,"[65382, 65370, 65408, 65435, 65397, 65359, 392...","[10765, 10764, 10763, 10762, 10761, 10760, 10759]","[65399, 53797, 65382, 24113, 39245, 68763, 653..."
2,2020,316,"[17574, 9012, 17614, 35386, 29445, 66511, 4387...","[2785, 2787, 2786]","[17642, 28445, 17595, 43450, 29444, 33585]"
3,1986,237,"[74127, 14886, 40843, 45135, 74122, 12762, 400...","[7169, 7168, 7170]","[53838, 96, 50650, 43089, 346]"
4,2488,530,"[55319, 44025, 44068, 44122, 44107, 44066, 283...","[7191, 7190, 7193, 7195, 7192, 7194]","[44057, 44066, 44071, 28338, 15087, 96, 44043]"
...,...,...,...,...,...
2756,2020,506,"[17574, 48737, 17614, 67185, 11620, 17596, 692...","[2790, 2789, 2788]","[17583, 45593, 17593, 17576, 29578, 40383, 31987]"
2757,2241,322,"[50193, 24187, 2009, 54880, 54851, 54899, 2946...","[9009, 9005, 9008, 9006, 9007]","[8771, 8768, 50435, 852, 318, 40917, 36409, 41..."
2758,2060,213,"[51696, 55371, 5098, 50645, 73507, 50649, 2638...","[4241, 4240, 4242, 4243]","[3051, 5095, 26457, 26334]"
2759,1851,724,"[13020, 13029, 12891, 12962, 12934, 12995, 129...","[2064, 2062, 2063]","[69831, 12930, 12937, 42985, 19]"
2760,2044,365,"[61324, 7472, 63707, 61383, 573, 23005, 61362,...","[10049, 10047, 46, 10051, 10048, 10052, 10050]","[47512, 61467, 10177, 28196, 9626, 61386]"

In [170]:
df_valid_result

,user,item,cdd,review,proxy
0,2030,548,"[22604, 13020, 39100, 33185, 16724, 48013, 167...","[2642, 2646, 2647, 2645, 2643, 2644]","[16639, 39100, 16774, 48005, 3543, 16688, 30488]"
1,2138,750,"[39240, 29108, 30931, 2919, 39245, 71388, 3922...","[6315, 6314]",[39244]
2,2536,476,"[25896, 23945, 62082, 23894, 60299, 23922, 526...","[3797, 3798, 3799]","[10884, 23943, 23889, 47304]"
3,2681,321,"[63370, 49814, 30232, 61302, 61264, 30003, 708...","[10011, 10009, 10012, 10010]","[54432, 70761, 61306]"
4,2869,623,"[67033, 67039, 51371, 66993, 37164, 67043, 669...","[10964, 10968, 10966, 10963, 10967, 10965]","[25417, 47, 55906, 51214, 73337, 14, 36388]"
...,...,...,...,...,...
2756,2028,502,"[58591, 23712, 53320, 23187, 53972, 49171, 196...",[3778],"[50239, 24681]"
2757,2346,509,"[73381, 49564, 49410, 49429, 49503, 55493, 494...","[8039, 8037, 8034, 8033, 8035, 8038, 8036]","[49459, 49479, 49488, 24285, 58016, 49410, 495..."
2758,2538,156,"[14809, 14862, 69800, 69802, 14886, 69798, 277...","[2353, 63, 2352, 2355, 2354, 0]","[14864, 2600, 62, 1300]"
2759,1873,303,"[69943, 4984, 27605, 69083, 39297, 42882, 4945...","[11252, 11251, 11253]","[37823, 54640, 18181]"
2760,2632,267,"[30830, 24997, 24992, 24930, 25054, 25036, 536...","[3984, 3983, 3988, 3987, 3989, 3992, 3990, 398...","[18762, 25008, 38318, 20520, 25082, 8061, 2508..."

In [171]:
group_by_user_test_result = df_test_result.groupby('user')
group_by_user_valid_result = df_valid_result.groupby('user')

In [172]:
print("number of user on test set: {}".format(len(group_by_user_test_result)))
print("number of user on valid set: {}".format(len(group_by_user_valid_result)))

number of user on test set: 606
number of user on valid set: 606

In [173]:
user_cnt = 0
user_item_testset_result = dict()
for user_df_chunk in list(group_by_user_test_result):
    user_id = int(user_df_chunk[0])
    user_id_str = str(user_df_chunk[0])
    user_df = user_df_chunk[1]
    # item-level dict
    item_level_dict = dict()
    for idx, row in user_df.iterrows():
        item_id = int(row['item'])
        item_id_str = str(row['item'])
        cdd_ids = row['cdd']
        review_ids = row['review']
        proxy_ids = row['proxy']
        assert isinstance(cdd_ids[0], str)
        assert isinstance(review_ids[0], str)
        assert isinstance(proxy_ids[0], str)
        # add this into the dict
        item_level_dict[item_id_str] = [cdd_ids, review_ids, proxy_ids]
    # add item-level dict to user-level dict
    user_item_testset_result[user_id_str] = item_level_dict
    user_cnt += 1

In [174]:
user_cnt = 0
user_item_validset_result = dict()
for user_df_chunk in list(group_by_user_valid_result):
    user_id = int(user_df_chunk[0])
    user_id_str = str(user_df_chunk[0])
    user_df = user_df_chunk[1]
    # item-level dict
    item_level_dict = dict()
    for idx, row in user_df.iterrows():
        item_id = int(row['item'])
        item_id_str = str(row['item'])
        cdd_ids = row['cdd']
        review_ids = row['review']
        proxy_ids = row['proxy']
        assert isinstance(cdd_ids[0], str)
        assert isinstance(review_ids[0], str)
        assert isinstance(proxy_ids[0], str)
        # add this into the dict
        item_level_dict[item_id_str] = [cdd_ids, review_ids, proxy_ids]
    # add item-level dict to user-level dict
    user_item_validset_result[user_id_str] = item_level_dict
    user_cnt += 1

In [175]:
# user_item_testset_result['2165']['377']
example_user_id = "2165"
example_item_id = "377"
print('On TEST set:')
print("user: {0} \t item: {1}".format(example_user_id, example_item_id))
print("Number of candidate sentence: {0} \nNumber of true review sentence: {1}\nNumber of proxy review sentence: {2}".format(
    len(user_item_testset_result[example_user_id][example_item_id][0]),
    len(user_item_testset_result[example_user_id][example_item_id][1]),
    len(user_item_testset_result[example_user_id][example_item_id][2])))
# user_item_validset_result['2165']['377']
print('On VALID set:')
print("user: {0} \t item: {1}".format(example_user_id, example_item_id))
print("Number of candidate sentence: {0} \nNumber of true review sentence: {1}\nNumber of proxy review sentence: {2}".format(
    len(user_item_validset_result[example_user_id][example_item_id][0]),
    len(user_item_validset_result[example_user_id][example_item_id][1]),
    len(user_item_validset_result[example_user_id][example_item_id][2])))

On TEST set:
user: 2165 	 item: 377
Number of candidate sentence: 209
Number of true review sentence: 5
Number of proxy review sentence: 6

In [177]:
# user_item_testset_result['2165']['377']
example_user_id = "2030"
example_item_id = "548"
print('On TEST set:')
print("user: {0} \t item: {1}".format(example_user_id, example_item_id))
print("Number of candidate sentence: {0} \nNumber of true review sentence: {1}\nNumber of proxy review sentence: {2}".format(
    len(user_item_testset_result[example_user_id][example_item_id][0]),
    len(user_item_testset_result[example_user_id][example_item_id][1]),
    len(user_item_testset_result[example_user_id][example_item_id][2])))
# user_item_validset_result['2165']['377']
print('On VALID set:')
print("user: {0} \t item: {1}".format(example_user_id, example_item_id))
print("Number of candidate sentence: {0} \nNumber of true review sentence: {1}\nNumber of proxy review sentence: {2}".format(
    len(user_item_validset_result[example_user_id][example_item_id][0]),
    len(user_item_validset_result[example_user_id][example_item_id][1]),
    len(user_item_validset_result[example_user_id][example_item_id][2])))

On TEST set:
user: 2030 	 item: 548
Number of candidate sentence: 326
Number of true review sentence: 6
Number of proxy review sentence: 7
On VALID set:
user: 2030 	 item: 548
Number of candidate sentence: 326
Number of true review sentence: 6
Number of proxy review sentence: 7

In [178]:
# save this into json file
with open('../Dataset/ratebeer/small_500/test/useritem2sentids_withproxy.json', 'w') as f:
    json.dump(user_item_testset_result, f)

In [179]:
# save this into json file
with open('../Dataset/ratebeer/small_500/valid/useritem2sentids_withproxy.json', 'w') as f:
    json.dump(user_item_validset_result, f)