In [1]:
import pickle
import pandas as pd

testset_file = "/p/reviewde/data/yelp_aobo_small/test.pickle"
df_testset = pd.read_pickle(testset_file)

In [52]:
# Load train/valid/test
trainset_file = "/p/reviewde/data/yelp_aobo_small/train.pickle"
validset_file = "/p/reviewde/data/yelp_aobo_small/valid.pickle"
testset_file = "/p/reviewde/data/yelp_aobo_small/test.pickle"
df_trainset = pd.read_pickle(trainset_file)
df_validset = pd.read_pickle(validset_file)
df_testset = pd.read_pickle(testset_file)

In [53]:
df_trainset

,userid,itemid,review,token_idxs
0,0,0,the staff is extremely nice and helpful and th...,"[4, 56, 9, 329, 50, 6, 272, 6, 63, 18, 262, 27..."
1,0,1,this restaurant has great views of the strip a...,"[37, 60, 110, 25, 2015, 16, 4, 401, 6, 4, 1987..."
2,0,2,"they have an extensive cocktail , beer and win...","[39, 43, 99, 833, 753, 7, 184, 6, 411, 694, 6,..."
3,0,3,"the atmosphere was nice , but nothing special ...","[4, 98, 8, 50, 7, 17, 202, 237, 248, 4, 20, 8,..."
4,0,4,the service was fantastic - our server had a g...,"[4, 20, 8, 224, 29, 54, 118, 47, 10, 25, 2906,..."
...,...,...,...,...
740712,17062,2005,"the buffet has a large variety of sushi , meat...","[4, 353, 110, 10, 181, 373, 16, 157, 7, 602, 7..."
740713,17062,5591,"indoor tables are open to all guests , just gr...","[1609, 244, 18, 382, 12, 51, 1436, 7, 53, 1100..."
740714,17062,1523,i got to say the steak is just as good as i im...,"[11, 189, 12, 229, 4, 225, 9, 53, 38, 14, 38, ..."
740716,17062,251,"the waffles with banana were great , it was li...","[4, 801, 26, 1007, 19, 25, 7, 13, 8, 381, 6, 1..."
740717,17062,1552,"the crepes here are also delicious , but they ...","[4, 1156, 58, 18, 70, 57, 7, 17, 39, 18, 10, 8..."

In [54]:
list(df_trainset['review'])[0]

'the staff is extremely nice and helpful and there are many options to choose from here .'

In [55]:
len(df_trainset.index)

677027

In [64]:
num_tokens_list = []
for rvw in list(df_trainset['review']):
    num_tokens_list.append(len(rvw.split(' ')))

In [65]:
len(num_tokens_list)

677027

In [66]:
import numpy as np
np.mean(num_tokens_list)

35.739765179232144

In [56]:
df_validset

,userid,itemid,review,token_idxs
0,0,2659,"great service , great location in the biltmore...","[25, 20, 7, 25, 100, 24, 4, 4433, 7, 50, 165, ..."
1,1,5798,not a bad turkey wrap and plenty of tv sets fo...,"[30, 10, 155, 1062, 1006, 6, 524, 16, 1507, 32..."
2,2,222,"they serve intelligentsia , the table bread is...","[39, 606, 14953, 7, 4, 173, 154, 9, 1144, 6, 1..."
3,3,8109,the free wifi is a big plus for me .,"[4, 297, 1282, 9, 10, 166, 464, 23, 87, 5]"
4,4,3154,service was very friendly and attentive . the ...,"[20, 8, 27, 46, 6, 156, 5, 4, 105, 8, 10, 71, ..."
...,...,...,...,...
17056,17056,697,this place is a high quality french style bake...,"[37, 64, 9, 10, 252, 169, 394, 355, 907, 124, ..."
17057,17057,2832,this is the biggest f 21 i 've ever been too a...,"[37, 9, 4, 1316, 2877, 3370, 11, 22, 102, 206,..."
17058,17058,2236,my favorite dish is their mi xa xiu kho . the ...,"[32, 151, 162, 9, 40, 2025, 1, 1, 19574, 5, 4,..."
17060,17060,148,"super groovy bar - stop for a drink , conversa...","[123, 8738, 93, 29, 916, 23, 10, 196, 7, 1497,..."
17061,17061,3809,"the oysters were fresh , but i 've had better ...","[4, 848, 19, 68, 7, 17, 11, 22, 102, 47, 120, ..."

In [57]:
list(df_validset['review'])[0]

'great service , great location in the biltmore , nice decor and yummy food !'

In [58]:
df_testset

,userid,itemid,review,token_idxs
0,0,10711,"extremely friendly staff , very comfortable de...","[329, 46, 56, 7, 27, 488, 165, 7, 6, 57, 15, 21]"
3,3,9574,"the sandwich is ok , not great . tip - the sho...","[4, 188, 9, 130, 7, 30, 25, 5, 671, 29, 4, 100..."
4,4,4562,three fabulous locations in vegas ! my favorit...,"[587, 814, 877, 24, 296, 21, 32, 151, 105, 24,..."
5,5,5203,it was very awesome seats . friendly staff to ...,"[13, 8, 27, 133, 475, 5, 46, 56, 12, 5344, 35,..."
7,7,8,"the name "" snooze , "" may conjure up the image...","[4, 748, 79, 7165, 7, 79, 509, 1, 104, 4, 8421..."
...,...,...,...,...
17058,17058,2325,( also called banh mi xiu mai ) sometimes thei...,"[44, 70, 1102, 2512, 2025, 1, 3672, 42, 547, 4..."
17059,17059,10219,between the yummy sounding food menu ( omg all...,"[677, 4, 287, 5355, 15, 69, 44, 1546, 51, 4, 6..."
17060,17060,1410,the shrimp scampi with spaghatenni / angel hai...,"[4, 230, 4169, 26, 1, 124, 3667, 2303, 365, 26..."
17061,17061,1389,really sweet bartenders ( paul : you 're aweso...,"[49, 136, 576, 44, 6698, 128, 35, 22, 223, 133..."
17062,17062,2065,the filling is not too sweet and has good flav...,"[4, 433, 9, 30, 55, 136, 6, 110, 14, 129, 48, ..."

In [23]:
list(df_testset['review'])[0]

'extremely friendly staff , very comfortable decor , and delicious food !'

In [10]:
yelp_file = "/p/reviewde/data/yelp_aobo_small/yelp_aobo.pickle"
df_yelp_dataset = pd.read_pickle(yelp_file)

In [59]:
df_yelp_dataset

,userid,itemid,rating,review
0,337,6021,3.0,i might as well add that the price has also in...
1,9838,30281,1.0,i 've been going for years and the food qualit...
2,5255,17171,1.0,i could go on with the details but the gist of...
3,68788,1616,4.0,great lunch today . staff was very helpful in ...
4,10134,76,3.0,mmmm ... the food was just alright . the jade ...
...,...,...,...,...
2111256,783,12773,5.0,"pizzas were amazing , slight char and great ta..."
2111257,15575,25127,5.0,"great food aside , i really want to make a sho..."
2111258,12101,28024,1.0,parking is ok now that baseball is over .
2111259,3241,9265,4.0,staff was super nice and everyone looked like ...
2111260,33400,1132,3.0,"pros : definitely great for the pancakes , the..."

In [15]:
print(type(df_yelp_dataset.iloc[0]['userid']))
print(type(df_yelp_dataset.iloc[0]['itemid']))
print(type(df_yelp_dataset.iloc[0]['rating']))
print(type(df_yelp_dataset.iloc[0]['review']))

<class 'numpy.int64'>
<class 'numpy.int64'>
<class 'numpy.float64'>
<class 'str'>

In [22]:
example_text = "the staff is extremely nice and helpful and there are many options to choose from here ."
df_yelp_dataset.loc[(df_yelp_dataset['review']==example_text)]

,userid,itemid,rating,review
1536942,5,9769,4.0,the staff is extremely nice and helpful and th...

In [21]:
example_text = "great service , great location in the biltmore , nice decor and yummy food !"
df_yelp_dataset.loc[(df_yelp_dataset['review']==example_text)]

,userid,itemid,rating,review
1570821,5,9761,4.0,"great service , great location in the biltmore..."

In [24]:
example_text = "extremely friendly staff , very comfortable decor , and delicious food !"
df_yelp_dataset.loc[(df_yelp_dataset['review']==example_text)]

,userid,itemid,rating,review
1064381,5,13445,4.0,"extremely friendly staff , very comfortable de..."

In [25]:
df_yelp_dataset['rating'].unique()

array([3., 1., 4., 5., 2.])

In [37]:
df_trainset.shape

(677027, 5)

In [27]:
# Add new column for train/valid/test yelp-small dataset
df_trainset.insert(df_trainset.shape[1], 'rating', 0.0)
df_validset.insert(df_validset.shape[1], 'rating', 0.0)
df_testset.insert(df_testset.shape[1], 'rating', 0.0)

In [49]:
# Loop Through All rows in the train-set
cnt_num_review_with_multi_matching = 0
for idx in df_trainset.index:
    cur_review_text = df_trainset.loc[idx, 'review']
    rating_list = list(df_yelp_dataset.loc[(df_yelp_dataset['review']==cur_review_text)]['rating'])
    # try:
    #     assert len(rating_list) == 1
    # except:
    #     print(rating_list)
    #     print(df_yelp_dataset.loc[(df_yelp_dataset['review']==cur_review_text)])
    #     break
    assert len(rating_list) >= 1
    if len(rating_list) > 1:
        cnt_num_review_with_multi_matching += 1
    df_trainset.loc[idx, 'rating'] = rating_list[0]
    if idx % 20000 == 0:
        print("{} lines".format(idx+1))

1 lines

KeyboardInterrupt:

In [50]:
cnt_num_review_with_multi_matching

21

In [51]:
idx

2986

In [ ]:
for idx in df_validset.index:
    cur_review_text = df_validset.loc[idx, 'review']
    rating_list = list(df_yelp_dataset.loc[(df_yelp_dataset['review']==cur_review_text)]['rating'])
    assert len(rating_list) == 1
    df_validset.loc[idx, 'rating'] = rating_list[0]
    if idx % 2000 == 0:
        print("{} lines".format(idx+1))

In [61]:
import json
# write
trainset_output_file = "/u/pw7nc/experiments/Dataset/yelp/train.json"
validset_output_file = "/u/pw7nc/experiments/Dataset/yelp/valid.json"
testset_output_file = "/u/pw7nc/experiments/Dataset/yelp/test.json"

with open(trainset_output_file, 'w') as f:
    for idx in df_trainset.index:
        current_dict = dict()
        user_id = df_trainset.loc[idx, 'userid']
        item_id = df_trainset.loc[idx, 'itemid']
        review_text = df_trainset.loc[idx, 'review']
        current_dict['user'] = int(user_id)
        current_dict['item'] = int(item_id)
        current_dict['review'] = review_text
        json.dump(current_dict, f)
        f.write("\n")

In [62]:
with open(validset_output_file, 'w') as f:
    for idx in df_validset.index:
        current_dict = dict()
        user_id = df_validset.loc[idx, 'userid']
        item_id = df_validset.loc[idx, 'itemid']
        review_text = df_validset.loc[idx, 'review']
        current_dict['user'] = int(user_id)
        current_dict['item'] = int(item_id)
        current_dict['review'] = review_text
        json.dump(current_dict, f)
        f.write("\n")

In [63]:
with open(testset_output_file, 'w') as f:
    for idx in df_testset.index:
        current_dict = dict()
        user_id = df_testset.loc[idx, 'userid']
        item_id = df_testset.loc[idx, 'itemid']
        review_text = df_testset.loc[idx, 'review']
        current_dict['user'] = int(user_id)
        current_dict['item'] = int(item_id)
        current_dict['review'] = review_text
        json.dump(current_dict, f)
        f.write("\n")